<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymelef/layout"
layout:decorate="~{layout}">

<section layout:fragment="title">
    Coaches
</section>

<section layout:fragment="header">
    List of Coaches
</section>
<section layout:fragment="containt">
    <a th:href="@{coaches/0}">Create Coach</a>
    <br/><br/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Coach ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Team</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="coach : ${coaches}">
                <td th:text="${coach.id}">ID</td>
                <td th:text="${coach.firstname}">First Name</td>
                <td th:text="${coach.lastname}">Last Name</td>
                <td th:text="${coach.team.name}">Team</td>
                <td>
                    <a th:href="@{coaches/{id}(id=${coach.id})}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{coaches/{id}/delete (id=${coach.id})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>