<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <title>
    <section layout:fragment="title">Your title goes here</section>
  </title>
 
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<link href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

  <section layout:fragment="script">

  </section>

</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Home</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          
          <li class="Admin">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">Admins <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/teams">Teams</a></li>
              <li><a href="/coaches">Coaches</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/players">Players</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/games">Games</a></li>
            </ul>
          </li>
          <li class="Users">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">Users <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/statistics">Statistics</a></li>
            </ul>
          </li>
        </ul>
       
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout">logout</a></li>
          
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container" style="min-height:400px;">
    <h1>
      <section layout:fragment="header">Your header goes here</section>
    </h1>

    <section layout:fragment="containt">Your containt goes here</section>

  </div>
  <section layout:fragment="footer">
    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
  </section>

</body>

</html>