<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymelef/layout"
layout:decorate="~{layout}">

<section layout:fragment="title">
    Product Page
</section>

<section layout:fragment="header">
    List of Product
</section>
<section layout:fragment="containt">
    <a href="/products/0">Create New Product</a>
    <br/><br/>
    <form action="#" th:action="@{/products}" th:object="${product}" method="post">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Made In</th>
                <th>Price</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
            <tr>
                <th><input type="text" name="id" /></th>
                <th><input type="text" name="name" /></th>
                <th><input type="text" name="brand" /></th>
                <th><input type="text" name="madein" /></th>
                <th><input type="text" name="price" /></th>
                <th><input type="text" name="category.name" /></th>
                <th><input type="submit"  /></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${listProducts}">
                <td th:text="${product.id}">Product ID</td>
                <td th:text="${product.name}">Name</td>
                <td th:text="${product.brand}">Brand</td>
                <td th:text="${product.madein}">Made in</td>
                <td th:text="${product.price}">Price</td>
                <td th:text="${product.category.name}">Category</td>
                <td>
                    <a th:href="@{products/{id}(id=${product.id})}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{products/delete/{id}(id=${product.id})}">Delete</a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>
                    <select name="pageSize">
                        <option>5</option>
                        <option>10</option>
                        <option>15</option>
                        <option>20</option>
                    </select>
                </th>
            </tr>
        </tfoot>
    </table>
</div>   
</body>
</html>