<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymelef/layout"
layout:decorate="~{layout}">
<section layout:fragment="title">
    Users Page
</section>

<section layout:fragment="header">
    List of Users
</section>
<section layout:fragment="containt">
    <a href="/users/0">Create New User</a>
    <br/><br/>
    <table class="table table-striped">

        <thead>
            <tr>
                <th>User ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>DOB</th>
                <th>Password</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${listUsers}">
                <td th:text="${user.id}">User ID</td>
                <td th:text="${user.firstname}">First Name</td>
                <td th:text="${user.lastname}">Last Name</td>
                <td th:text="${user.dob}">DOB</td>
                <td th:text="${user.password}">Password</td>
                <td th:text="${user.email}">Email</td>
                <td>
                    <a th:href="@{users/{id}(id=${user.id})}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{users/delete/{id}(id=${user.id})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</section>


</html>